:root{
    --pColor: #ff2740;
    --sColor: #f7bcf7;
    --lColor: #ffffff; 
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Comic Neue', cursive;
    font-size: 16px;
    color: var(--lColor);
}

.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

span{
    color: var(--pColor);
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a{
    color: var(--lColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover{
    color: var(--pColor);
}

.btn{
    color: var(--lColor);
    background-color: var(--pColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1.07rem;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: 0.4s;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--pColor);
}

.content{
    flex-grow: 1;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-container{
    position: relative;
    bottom: 70px;
}
h1{
    font-size: 2.8rem;
    margin: 1.7rem 0;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--sColor);
}

.social{
    margin-top: 3.5rem;
}

.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover{
    transform: scale(1.2);
}

.container-img{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.container-img img{
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.container-img:hover .shape{
    bottom: 40px;
}

.container-img:hover .men{
    left: 45%;
}